In [5]:
l=[11,22,33,44,44,77]
12=[]
for i in l:
    #print(i,end="")
    if i not in l2:
        l2.append(i)
print(l2)

SyntaxError: can't assign to literal (<ipython-input-5-8b2ed384c275>, line 2)

In [6]:
l=[11,22,33,44,44,77]
12=[]
for i in l:
    #print(i,end="")
    if i not in l2:
        l2.append(i)
print(l2)

SyntaxError: can't assign to literal (<ipython-input-6-8b2ed384c275>, line 2)

In [9]:
l=[1,2,3,4,5,6,7,8,9]

evenlist=[]
oddlist=[]

for i in l:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [16]:
l=[1,2,3,4,5,6,7,8,9]

evenlist=[]
oddlist=[]

for i in l:
    if(i%2==0):
        evenlist.append(i)
    else:
        evenlist.append(i)
evenlist
oddlist

[]

In [18]:
l=[2,5,8,1]
l.sort()
print(l[0])
print(l[1])

1
2

In [1]:

List1=[1,2,3]
List1

[1, 2, 3]

In [1]:

List2=["sudhakar","Bhanu","charan"]
List2

['sudhakar', 'Bhanu', 'charan']

In [2]:
list3=["Ram",1,"Sam",2,"Nayan",3]
print(list3)

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [3]:
# Indexing 
list3[2]

'Sam'

In [4]:

list3[4]

'Nayan'

In [5]:
list3[5]

3

In [6]:

list3[-1]

3

In [7]:

list3[-4]

'Sam'

In [8]:

list3[::-1]

[3, 'Nayan', 2, 'Sam', 1, 'Ram']

In [9]:
list3[2:]

['Sam', 2, 'Nayan', 3]

In [10]:

list3[0:4]

['Ram', 1, 'Sam', 2]

In [11]:
list3[:-2]

['Ram', 1, 'Sam', 2]

In [12]:
list3[1:4]

[1, 'Sam', 2]

In [13]:
list3[-2:1:-1]

['Nayan', 2, 'Sam']

In [14]:

list3[2:0:-1]

['Sam', 1]

In [15]:
list3[4::-3]

['Nayan', 1]

In [16]:

demo=list3[1:3]
demo

[1, 'Sam']

In [17]:
demo[::-1]

['Sam', 1]

In [18]:

list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [19]:
list5=[1,2,3]
list6=["a","b","c"]
list5.append(list6)
list5

[1, 2, 3, ['a', 'b', 'c']]

In [20]:

list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c']

In [21]:

list5

[1, 2, 3, 'a', 'b', 'c']

In [22]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [23]:

list5.remove("c")
list5

[1, 2, 3, 'a', 'b']

In [24]:
list5.pop()
list5

[1, 2, 3, 'a']

In [25]:
list5.pop()
list5

[1, 2, 3]

In [26]:

list5.clear()
list5

[]

In [27]:
list5.insert(3,"sudhakar")
list5

['sudhakar']

In [28]:

list7=list5 + list6
list7

['sudhakar', 'a', 'b', 'c']