# Operators
Assignment operators
membership operators
identity operators
Assignment operators
+=,-=,*=,/=,//=,**=,%=,<=,>=,==

In [1]:

a=10

In [2]:
a

10

In [3]:
a=a+1
a

11

In [5]:

a+=2

In [6]:
a

15

In [7]:

a*=2


# membership operators
by using this operators we will identify a perticula element belongs to a group or not
they are in, not in

In [8]:
arr = [1,2,3,4,5,6]
inp=3
inp in arr

True

In [9]:

10 in arr

False

In [10]:

s1 = 'shaik abdul'
'b' in s1

True

In [11]:

'shaik' in s1

True

In [12]:

bits = '001001000111'
'00' in bits

True


# identity operators
by using this operators we compare values
they are is,is not

In [14]:
'abc' is 'abc'

True

In [15]:
'abc' is 'abc'

True

In [16]:
'abc' is 'cbd'

False

In [17]:
123 is 123

True

In [18]:
123 is not 1234

True


## Conditional control statements
it controls the flow of execution based on condition
for that we have few diff type of statements
conditional stat
looping stat
jump stat
# conditional stat
if
if(cond):
stta
if else
nested
else if ladder

In [19]:
if (5<6):
    print('true')

true

In [20]:
if (5<6):
    print('true')

true

In [21]:

if (5<6):
    print('true')
    print("5 is small")

true
5 is small

In [22]:
if (5<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am inside if
5 is small
i am out of if

In [23]:
if (51<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am out of if

In [28]:
if (51<6):
    print('i am inside if')
    print("5 is small")
print('i am out of if')

i am out of if

In [29]:

if (4>7):
    print('i am inside if block')
else:
    print('i am inside else block')

i am inside else block

In [32]:


if (23>7):
    print('i am inside if block')
else:
    print('i am inside else block')
print('i am going to exit')

i am inside if block
i am going to exit

In [33]:
if (4>7):
    print('i am inside if block')
else:
    print('i am inside else block')

i am inside else block

In [34]:
if (5<6):
    if(6<7):
        print('6  is existed in b/w 5 and 6')
    else:
        print('wrong choice')
else:
    print('try again')

6  is existed in b/w 5 and 6

In [35]:
if ((5<6) and (6<7)):
    print("6 is existed in b/w 5 and 6")
else:
    print("try again")

6 is existed in b/w 5 and 6

In [36]:
if (343<67):
    print('true')
elif(341>45):
    print('i am from elif')
else:
    print("false")

i am from elif

In [37]:
n = int(input())
if n%2==0:
    print(pow(n,2))
else:
    print(n*5)

2
4